$primary-color: #F39C3E;
$primary-text-color: #F7941D;

.bg-primary {
  background-color: $primary-color;
}
.text-primary {
  color: $primary-text-color;
}
page {
  background-color: #F4F5F7;
}
.nav-bar {
  background: linear-gradient(270deg, #f7b643 0%, #ffd563 100%);
}
.main-order-list {
  background: linear-gradient(270deg, #f7b643 0%, #ffd563 100%);
  font-family: HelveticaNeue-Medium, HelveticaNeue;
}
.mpx-badge {               
  display: inline-flex;           
  justify-content: center;       
  align-items: center;            
  width: 30rpx;                  
  height: 30rpx;                  
  padding: 0;                    
  background: #ee0a24;
  color: #fff;
  font-size: 20rpx;               
  border-radius: 50%;           
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
  font-weight: normal;
}