@use './var.scss' as *;

page {
  background-color: #f4f5f7;

  .bg-primary {
    background-color: $primary-color;
  }

  .text-primary {
    color: $primary-text-color;
  }

  .gradient-primary-bg {
    background: $gradient-primary;
  }

  .main-title {
    font-size: 30rpx;
    color: $default-text-color;
    font-weight: 800;
    line-height: 26rpx;
    border-left: 4rpx solid $primary-color;
    padding-left: 10rpx;
  }
}

.page {
  padding-bottom: calc(env(safe-area-inset-bottom) + 192rpx);
}
