@import './var.scss';

page {
  background-color: #F4F5F7;

  .bg-primary {
    background-color: $primary-color;
  }

  .text-primary {
    color: $primary-text-color;
  }

  .gradient-primary-bg {
    background: $gradient-primary;
  }

  .mpx-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30rpx;
    height: 30rpx;
    padding: 0;
    background: #ee0a24;
    color: #fff;
    font-size: 20rpx;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
    font-weight: normal;
  }

  --button-primary-background-color: #{$primary-color};
  --button-primary-border-color: #{$primary-color};
}