@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/c/font_2575413_oxgomyio5ja.woff2?t=1685588555110') format('woff2'),
       url('//at.alicdn.com/t/c/font_2575413_oxgomyio5ja.woff?t=1685588555110') format('woff'),
       url('//at.alicdn.com/t/c/font_2575413_oxgomyio5ja.ttf?t=1685588555110') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hehuoren1:before {
    content: "\e629";
}

.icon-qiwei_qiwei:before {
    content: "\e66d";
}

.icon-dianzan2:before {
    content: "\e628";
}

.icon-xiuliweihu:before {
    content: "\e606";
}

.icon-jifenshangcheng1:before {
    content: "\e614";
}

.icon-dianzan1:before {
    content: "\e668";
}

.icon-kaoshi:before {
    content: "\e7ab";
}

.icon-gerenzhongxin-hongbao:before {
    content: "\e608";
}

.icon-banshou:before {
    content: "\e73f";
}

.icon-qiyeweixin:before {
    content: "\e848";
}

.icon-jiamubiao1:before {
    content: "\e97a";
}
.icon-jiamubiao:before {
    content: "\e663";
}
.icon-erweima1:before {
    content: "\e65b";
  }
  
  .icon-xinwengonggao:before {
    content: "\e68f";
  }
  
  .icon-xiaoxi:before {
    content: "\e631";
  }
  
  .icon-gongdan1:before {
    content: "\e711";
  }
  
  .icon-jichouqingdan:before {
    content: "\e60b";
  }
  
  .icon-yonghuzhucexieyi:before {
    content: "\e6e7";
  }
  
  .icon-hehuoren:before {
    content: "\e627";
  }
  
  .icon-ren1:before {
    content: "\e6fe";
  }
  
  .icon-chacha:before {
    content: "\e62e";
  }
  
  .icon-cunchuqia:before {
    content: "\e714";
  }
  
  .icon-ziyuanxhdpi:before {
    content: "\e64c";
  }
  
  .icon-24gf-star:before {
    content: "\e8c6";
  }
  
  .icon-dingwei3:before {
    content: "\e67b";
  }
  
  .icon-bianji:before {
    content: "\e626";
  }
  
  .icon-weixin2:before {
    content: "\e605";
  }
  
  .icon-tupian:before {
    content: "\e622";
  }
  
  .icon-lianjie:before {
    content: "\e625";
  }
  
  .icon-fenxiang:before {
    content: "\e8b0";
  }
  
  .icon-tishi1:before {
    content: "\e612";
  }
  
  .icon-gou1:before {
    content: "\e66c";
  }
  
  .icon-xiangyoujiantou:before {
    content: "\e65f";
  }
  
  .icon-jifenshangcheng:before {
    content: "\e621";
  }
  
  .icon-mulu:before {
    content: "\e6a4";
  }
  
  .icon-zhengzhaozhizhao:before {
    content: "\e62c";
  }
  
  .icon-video-play:before {
    content: "\ea6e";
  }
  
  .icon-xiangshangjiantou:before {
    content: "\e65d";
  }
  
  .icon-xiangxiajiantou:before {
    content: "\e65e";
  }
  
  .icon-zhaowojia:before {
    content: "\e618";
  }
  
  .icon-dianhua1:before {
    content: "\e61f";
  }
  
  .icon-zhengjianhaoma:before {
    content: "\e68b";
  }
  
  .icon-shebeiguanli:before {
    content: "\e9e9";
  }
  
  .icon-zhima-shenfenzheng:before {
    content: "\e609";
  }
  
  .icon-xiala:before {
    content: "\e65c";
  }
  
  .icon-qian:before {
    content: "\e662";
  }
  
  .icon-a-hezuowoshoujiaoliu-06:before {
    content: "\e905";
  }
  
  .icon-wancheng:before {
    content: "\e63e";
  }
  
  .icon-gongdanxinxi:before {
    content: "\e623";
  }
  
  .icon-zerenren:before {
    content: "\e666";
  }
  
  .icon-tixian:before {
    content: "\e607";
  }
  
  .icon-huojian:before {
    content: "\e617";
  }
  
  .icon-xiala-yuan-tianchong:before {
    content: "\e7c6";
  }
  
  .icon-shijian1:before {
    content: "\e64d";
  }
  
  .icon-wxbdingwei:before {
    content: "\e624";
  }
  
  .icon-shipinbofang:before {
    content: "\e604";
  }
  
  .icon-yibohui:before {
    content: "\e689";
  }
  
  .icon-guanzhu1:before {
    content: "\e61e";
  }
  
  .icon-ketuihuo:before {
    content: "\e63f";
  }
  
  .icon-lingliaoshenqing:before {
    content: "\e659";
  }
  
  .icon-shangchuan:before {
    content: "\e658";
  }
  
  .icon-erweima:before {
    content: "\e63c";
  }
  
  .icon-erji-gongdanbaobiao:before {
    content: "\ea9d";
  }
  
  .icon-zhangdan1:before {
    content: "\e774";
  }
  
  .icon-qianbao1:before {
    content: "\e747";
  }
  
  .icon-dianzan:before {
    content: "\ec7f";
  }
  
  .icon-qianbao2:before {
    content: "\e61c";
  }
  
  .icon-cangku:before {
    content: "\e71f";
  }
  
  .icon-wogerenziliao:before {
    content: "\e61d";
  }
  
  .icon-dingdan:before {
    content: "\e6bd";
  }
  
  .icon-zhifupingtai-yinlian:before {
    content: "\e616";
  }
  
  .icon-dianhua:before {
    content: "\e613";
  }
  
  .icon-fanhui:before {
    content: "\e603";
  }
  
  .icon-dingwei2:before {
    content: "\e86a";
  }
  
  .icon-ren:before {
    content: "\e654";
  }
  
  .icon-ka:before {
    content: "\e814";
  }
  
  .icon-GroupCopy:before {
    content: "\e638";
  }
  
  .icon-in_biyan:before {
    content: "\e600";
  }
  
  .icon-tishi:before {
    content: "\e646";
  }
  
  .icon-zhifubao:before {
    content: "\e68a";
  }
  
  .icon-weixin:before {
    content: "\e61b";
  }
  
  .icon-weixin1:before {
    content: "\e610";
  }
  
  .icon-saoma:before {
    content: "\e7e1";
  }
  
  .icon-shouji1:before {
    content: "\e615";
  }
  
  .icon-dingwei:before {
    content: "\ec32";
  }
  
  .icon-shijian:before {
    content: "\e77c";
  }
  
  .icon-dingwei1:before {
    content: "\e60f";
  }
  
  .icon-shoppingcart:before {
    content: "\eb86";
  }
  
  .icon-tongzhi:before {
    content: "\e665";
  }
  
  .icon-guanbi:before {
    content: "\e60e";
  }
  
  .icon-gouwuche:before {
    content: "\f01f";
  }
  
  .icon-yanjing:before {
    content: "\e611";
  }
  
  .icon-jiahao:before {
    content: "\e60d";
  }
  
  .icon-jianhao:before {
    content: "\e795";
  }
  
  .icon-shaixuan:before {
    content: "\e7a6";
  }
  
  .icon-sousuo:before {
    content: "\e60c";
  }
  
  .icon-wenhao:before {
    content: "\e61a";
  }
  
  .icon-zhanghu:before {
    content: "\e602";
  }
  
  .icon-shouji:before {
    content: "\e634";
  }
  
  .icon-paizhao:before {
    content: "\e620";
  }
  
  .icon-cha:before {
    content: "\e633";
  }
  
  .icon-edit:before {
    content: "\e667";
  }
  
  .icon-gou:before {
    content: "\e650";
  }
  
  .icon-wendang:before {
    content: "\e712";
  }
  
  .icon-gongdan:before {
    content: "\e710";
  }
  
  .icon-chaxun:before {
    content: "\e749";
  }
  
  .icon-onceloop:before {
    content: "\e88c";
  }
  
  .icon-shouye:before {
    content: "\e601";
  }
  
  .icon-tuihuowuyou:before {
    content: "\e63d";
  }

